
//blog content

.blog-content{
    .blog-data{
        p{
            margin-top: 97px;
            margin-bottom: 52px;
        }
    }
}


.blog-content{
    .blog-data{
        .tags-item{
            p{
                font-family: $bodoni;
            }
        }
    }
}