//blog section start


.blog-section{
    margin-top: 165px;
}

.blog-section{
    .blog-item{
        h2{
            line-height: 50px;
            text-align: left;
        } 
    }

}


.blog-section{
    .blog-item p:nth-of-type(4){
        margin-right: 107px;
    }
}

//blog section end

