$bg-info:#ECD9D9;


//contact section start
.contact-section{
    padding-top: 100px;
}


@media(min-width:320px){
    .contact-section{
        padding-top: 50px;
    }& .btn-link{
        margin-bottom: 20px;
    }
}




.contact-section{
    .contact-form{
        margin-right: 111px;
    }
}




@media(min-width:576px){
    .contact-section{
        .embed-responsive{
            margin-bottom: 20px;
        }
    }
}




@media(min-width:768px){
    .contact-section{
        .embed-responsive{
            position: absolute;
            left: 50%;
            top: 20%;
            bottom: -21%;
        }
    } 
}

@media(min-width:992px){
    .contact-section{
        .embed-responsive{
            position: absolute;
            left: 50%;
            top: 20%;
            bottom: 20%;
        }
    } 
}




//contact section end






//company info start




.contact-section{
    .contact-form{
        .form-control{
            background-color: rgba(#253D61, 0.2);
            font-weight: 300;
            color: #1E1E1E;
            line-height: 2.5rem;
            letter-spacing: -0.23px;
            border: 1px solid transparent;
        }
    }
}





@media(max-width:320px){
    .contact-section{
        .contact-form{
            margin-right: 20px;
        }
    }
}

@media(max-width:320px){
    .contact-section{
        .embed-responsive{
            margin-bottom: 50px;
        }
    }
}




.contact-section{
    .contact-form{
        .btn{
            font-size: 14px;
            padding: 13px 30px 15px 30px;
        } 
    }
}

.contact-section{
    .contact-form{
        .btn-outline-dark:hover{
            color: #1E1E1E;
        }
    }
}

.company-info{
    background-color: $bg-info;
}

.company-info{
    .company-phone{
        opacity: 100%;
    }
}

.company-info{
    .company-email{
        opacity: 100%;
    }
}

.company-info{
    padding: 63px 0 60px;
}

.company-info{
    .company-address,
    .company-email,
    .company-phone{
        font-size: 2.4rem;
        line-height: 2.5rem;
        font-weight: 300;
    } 
}


