
$default-color:#ECD9D9;

.social-section{
    margin-top: 116px;
}

.social-section{
    .social a{
        color: $default-color;
    }
}



.social a{
    margin-right: 30px;
}

.social-section{
    p{
        font-size: 12px;
        line-height: 21px;
        letter-spacing: -0.17px;

    }
}