//section beauty start

.section-beauty{
    .section-beauty-data{
        .section-beauty-item{
            h2{
                margin-top: 91px;
            }  
        }
    }
}

@media(max-width:320px){
    .section-beauty{
        .section-beauty-data{
            .section-beauty-item{
                h2{
                    margin-top: 30px;
                }  
            }
        }
    }
}


.section-beauty{
    .beauty-item{
        .beauty-content{
            left: 5%;
            right: 5%;
            margin-top: -90px;
        }
    }
}

@media(min-width:768px){
    .section-beauty{
        .beauty-item{
            .beauty-content{
                left: 5%;
                right: 5%;
                margin-top: -90px;
            }
        }
    }



}

.section-beauty-item{
    .beauty-item:first-of-type{
        display: inline-block;
        padding-top: 43px;
    }
}

.section-beauty{
    .input-group{
        margin-top: 91px;
    }
}

@media(max-width:320px){
    .section-beauty{
        .input-group{
            margin-top: 30px;
        }
    }
}



.section-beauty{
    .section-beauty-item:first-of-type img{
        margin-bottom: 66px;
    }
}

@media(max-width:320px){
    .section-beauty{
        .section-beauty-item:first-of-type img{
            margin-bottom: 30px;
        }
    }
}

@media(max-width:992px){
    .section-beauty{
        .section-beauty-item:first-of-type img{
            margin-bottom: 10px;
        }
    }
}

.section-beauty{
    .section-beauty-item{
        .w-50{
            width: 100%!important;
        }
    }
}


.section-beauty{
    .section-beauty-item{
        .form-control{
            padding: 10px;
        }
    }
}

.section-beauty{
    .section-beauty-item{
        .search-item{
            left: 90%;
            bottom: 40%;
            width: 16px;
            height: 16px;
        }
    }
}



//section beauty end